.header {
    width: 100%;
    height: 67px;
    position: fixed;
    border-bottom: 1px solid gray;
    z-index: 10;
}

.titleArea {
    font-size: 40px;
    font-weight: bold;
    margin: 8px 0 0 30px;
    float: left;
    top: 0px;
    left: 0px;
}

.title {    
    cursor: pointer;
}

.menuArea {
    width: auto;
    float: right;
    margin-top: 21px;
    font-family: 'Karla';
}

.eachMenu {    
    font-size: 20px;
    padding: 20px 30px;
    cursor: pointer;
}
/* 클릭했을때 아래 색 #3D94C9 */


/* mobile start */
.menuIcon4m {
    display: none;
    width: 30px;
    margin-top: 24px;
    left: 4%;
    position: absolute;
    cursor: pointer;
}

.menuArea4m {
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.85;
    font-size: 20px;
}

.menuList4m {
    margin-top: 40px;
}

.eachMenu4m {
    color: white;
    font-weight: bold;
    line-height: 80px;
    font-family: 'Karla';
}
/* mobile end */


/**/
@media only screen and (max-width:960px) {
    .menuArea {
        display: none;
    }

    .titleArea {
        width: 100%;
        height: 70%;
        font-size: 28px;
        margin: 0 auto;
        padding-top: 17px;
    }

    .menuIcon4m {
        display: block;
    }

    .menuArea4m {
        display: none;
    }
    
}